@import "../../scss/variables", "../../scss/mixins";

.navbar {
  background-color: $yesil;
  display: flex;
  justify-content: space-evenly;
  a {
    color: $cardNavBgColor;
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;

    &:hover {
      background-color: $acık;
      color: $cardNavBgColor;
    }
  }
}

@include media-xsm {
  .navbar {
    flex-direction: column;
    text-align: center;
  }
}

@include media-sm {
  .navbar {
    flex-direction: row;
  }
}
