@import "./scss/reset", "./scss/variables";
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");

body {
  background-color: $acık;
  font-family: "Amatic SC", cursive;
}
p {
  font-family: "Hubballi", cursive;
}
